.speech{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}
.direction{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: beige;

}
.direction:hover{
    background-color: lightblue;
  color: black;
}
.NORA{
    color:blue;
}
.NORA:hover{
    text-shadow:2px 3px 5px green;
    border: 1px dotted black;
}
.HELMER{
    color:cadetblue;
}
.HELMER:hover{
    text-shadow:2px 3px 5px green;
    border: 1px dotted black;
}
.PORTER{
    color:chocolate;
}
.PORTER:hover{
    text-shadow:2px 3px 5px green;
    border: 1px dotted black;
}
.table{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border: 5px;
    color: lightskyblue;
    text-align: center;
    padding: 10px;
    margin-left: 25%;

}

.table th {
    background-color: lightgreen;
    color: red;
}
.navbar {
    margin-right: 20px;
    padding: 0px;
}
.navbar ul{
    list-style-type: none;
}

.navbar li {
    float: left;
    color: lightskyblue;
    background-color: lightgreen;
}

.navbar a {
    display: inline-block;
    padding: 10px 20px;
}











